@model IEnumerable<Vidly.Models.Movie>

<head>
    <title>List of Movies</title>
</head>

<h2>List of Movies</h2>

<button type="button" class="btn btn-outline-primary"><a href="Movies/New">New Movie</a></button>
<p></p>

@if (!Model.Any())
{
    <p>We don't have any movies yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Movies</td>
                <td>Genre</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.TypeOfGenre</td>
                </tr>

            }

        </tbody>
    </table>
}

