@model Vidly.Models.Customer
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
<head>
    <title>Vidly - @Model.Name</title>
</head>
<body>
    <h1>@Model.Name</h1>
    
    <ul>
        <li>@Model.MembershipType.NameOfMemebership</li>

        @if (Model.DateOfBirth != null)
            {
                <li>@Model.DateOfBirth</li>
            }
    </ul>


</body>
</html>
