@model Vidly.Models.Customer
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
<head>
    <title>Vidly - @Model.Name</title>
</head>
<body>
    <h1>@Model.Name</h1>
    
    <ul>
        <li>Membership Type: @Model.MembershipType.NameOfMemebership</li>

        @if (Model.DateOfBirth != null)
            {
                <li>Birthdate: @Model.DateOfBirth.Value.ToShortDateString()</li>
            }
    </ul>


</body>
</html>
