@model IEnumerable<Vidly.Models.Customer>
@*
   Comment TESTING
*@


<head>
    <title>Vidly - Customers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 40%;
            border-radius: 5px;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        img {
            border-radius: 5px 5px 0 0;
        }

        .container {
            padding: 2px 16px;
        }
    </style>
</head>

<h2>List of Customers</h2>
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
<ol>
    <div class="card">
        <div class="container-lg">
            Customers
        </div>
    </div>

    @foreach (var customer in Model)
    {
        <div class="card">
            <div class="container-lg">
                <li><a href="/customers/Details/@customer.Id">@customer.Name</a></li>
            </div>
        </div>
    }
</ol>
}

