@model IEnumerable<Vidly.Models.Customer>

    <head>
        <title>List of Movies</title>
    </head>

<h2>List of Customers</h2>
<button type="button" class="btn btn-outline-primary"><a href="Customers/New">New Customer</a></button>
<p></p>

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Customers</td>
            <td>Subscription</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.NameOfMemebership</td>
            </tr>

        }

    </tbody>
</table>
}

